.header {
  background: #ffe100;
  width: 100%;
  height: 120px; 
  position: relative;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(175, 86, 86, 0.4); 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 90%;
  max-width: 1200px; 
  margin: 0 auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px; 
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
}

.nav-links a {
  color: rgb(23, 45, 126);
  text-decoration: none;
  font-size: 18px; 
  font-weight: 700; 
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 0.5px;
}

.nav-links a:hover {
  color: #26a42e;
}

.menu-toggle {
  display: none; 
}

@media (max-width: 768px) {
  
  .header {
      height: 90px; 
  }
  
  .logo-img {
      height: 70px; 
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
  }

  .bar {
    width: 30px; 
    height: 3px;
    background-color: rgb(40, 48, 139);
    transition: all 0.3s ease;
  }

  .menu-toggle.open .bar:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
  .menu-toggle.open .bar:nth-child(2) { opacity: 0; }
  .menu-toggle.open .bar:nth-child(3) { transform: rotate(-45deg) translate(5px, -8px); }

  .nav-links {
    position: absolute;
    top: 90px; 
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ffe100;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 25px;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    z-index: 999;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .nav-links a {
      font-size: 1.2rem; 
  }

  .nav-links.active {
    transform: translateY(0);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  }
}